<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voting System</title>

    <!-- Saved Colors for later:
         Green: #0b6b34
         Light Green: #c9ffd6
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body>
    @{
        var controller = ViewContext.RouteData.Values["controller"]?.ToString();
        var action = ViewContext.RouteData.Values["action"]?.ToString();
        var hideTopNav =
            (controller == "Voters" && action == "VoterDashboard")
            || (controller == "Admins" && action == "AdminDashboard")
            || (controller == "UserManagement")
            || (controller == "Elections" && action == "Index")
            || (controller == "Announcements" && action == "Index");
        var showTopNav = !hideTopNav;
    }
   
    <div style="padding-top: 10px;">
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
