<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voting System</title>

    <!-- Saved Colors for later:
         Green: #0b6b34
         Light Green: #c9ffd6
    -->
</head>

<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
